<h1 style="margin-bottom: 7vh">List Of Employes</h1>
<div style="margin-bottom: -9vh;margin-left: 61vw">
  <button mat-raised-button (click)="openDialog()"><mat-icon>person_add</mat-icon>Add Employee</button>
</div>
<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="employee" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> First Name </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}}</td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}}</td>
    </ng-container>

    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef> Phone Number </th>
      <td mat-cell *matCellDef="let element"> {{element.phoneNumber}}</td>
    </ng-container>

    <ng-container matColumnDef="employerType">
      <th mat-header-cell *matHeaderCellDef> Employee Type </th>
      <td mat-cell *matCellDef="let element"> {{element.employerType}}</td>
    </ng-container>

    <ng-container matColumnDef="typeEquipe">
      <th mat-header-cell *matHeaderCellDef> Type Equipe </th>
      <td mat-cell *matCellDef="let element"> {{element.typeEquipe}}</td>
    </ng-container>

    <ng-container matColumnDef="Edit">
      <th mat-header-cell *matHeaderCellDef >Actions</th>
      <td mat-cell *matCellDef="let element"><i class="bi bi-pencil-square" style="cursor: pointer"
      (click)="OpenDialogToUpdate(element)"
      ></i></td>
    </ng-container>
    <ng-container matColumnDef="Delete">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element"><i class="bi bi-x-lg" style="cursor: pointer"
      (click)="removeEmployee(element.id)"
      ></i></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>


