<mat-sidenav-container class="example-container"  *ngIf="true">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
     <div><button mat-button routerLink="employee"> 	<mat-icon>person</mat-icon>Employee</button></div>
     <div><button mat-button routerLink="service">Service</button></div>
     <div><button mat-button routerLink="location">Location</button></div>
     <div><button mat-button routerLink="beneficiary">Beneficiary</button></div>
     <div><button mat-button routerLink="activity">Activity</button></div>

    </mat-sidenav>
    <mat-sidenav-content>
      <p><button mat-button (click)="sidenav.toggle()"><span class="bi-caret-left"></span></button></p>
    </mat-sidenav-content>
</mat-sidenav-container>
