<mat-sidenav-container class="example-container"  *ngIf="true">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
     <div><button mat-button>elem 1</button></div>
     <div><button mat-button>Basic</button></div>
     <div><button mat-button>Basic</button></div>
     <div><button mat-button>Basic</button></div>
     <div><button mat-button>Basic</button></div>
     <div><button mat-button>Basic</button></div>
     <div><button mat-button>Basic</button></div>
     <div><button mat-button>Basic</button></div>
     <div><button mat-button>Basic</button></div>
    </mat-sidenav>
    <mat-sidenav-content>
      <p><button mat-button (click)="sidenav.toggle()"><span class="bi-caret-left"></span></button></p>
    </mat-sidenav-content>
</mat-sidenav-container>
