<h1>{{editMode ? 'Update Employee' : 'Add Employee'}}</h1>
<form (ngSubmit)="onSubmit()" [formGroup]="AddEmployeeForm" >
  <p>
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="First Name" formControlName="firstName">
      <mat-icon matSuffix *ngIf="AddEmployeeForm.get('firstName').valid">sentiment_very_satisfied</mat-icon>
      <mat-icon matSuffix *ngIf="AddEmployeeForm.get('firstName').invalid">sentiment_very_dissatisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" style="margin-left: 9px">
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="Last Name" formControlName="lastName">
      <mat-icon matSuffix *ngIf="AddEmployeeForm.get('lastName').valid">sentiment_very_satisfied</mat-icon>
      <mat-icon matSuffix *ngIf="AddEmployeeForm.get('lastName').invalid">sentiment_very_dissatisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" style="margin-left: 9px">
      <mat-label>Gender</mat-label>
      <mat-select formControlName="gender">
        <mat-option *ngFor="let gender of genders" [value]="gender">
          {{gender}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input matInput placeholder="+212 621452369" formControlName="phoneNumber">
      <mat-icon matSuffix *ngIf="AddEmployeeForm.get('phoneNumber').valid">sentiment_very_satisfied</mat-icon>
      <mat-icon matSuffix *ngIf="AddEmployeeForm.get('phoneNumber').invalid">sentiment_very_dissatisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" style="margin-left: 9px">
      <mat-label>Employee Type</mat-label>
      <mat-select  formControlName="employerType">
        <mat-option *ngFor="let type of types" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" style="margin-left: 9px">
      <mat-label>Type Equipe</mat-label>
      <mat-select formControlName="typeEquipe">
        <mat-option *ngFor="let service of Services" [value]="service.nameService">
          {{service.nameService}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="Ex. pat@example.com" formControlName="email">
      <mat-icon matSuffix *ngIf="AddEmployeeForm.get('email').valid">sentiment_very_satisfied</mat-icon>
      <mat-icon matSuffix *ngIf="AddEmployeeForm.get('email').invalid">sentiment_very_dissatisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline"  style="margin-left: 9px">
      <mat-label>UserName</mat-label>
      <input matInput placeholder="UserName" formControlName="userName">
      <mat-icon matSuffix *ngIf="AddEmployeeForm.get('userName').valid">sentiment_very_satisfied</mat-icon>
      <mat-icon matSuffix *ngIf="AddEmployeeForm.get('userName').invalid">sentiment_very_dissatisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline"  style="margin-left: 9px" [hidden]="editMode" >
      <mat-label>Password</mat-label>
      <input matInput type="password" placeholder="Password" formControlName="password" #pass><mat-icon  matPrefix (click)="showPassword()">remove_red_eye</mat-icon>
      <mat-icon matSuffix *ngIf="AddEmployeeForm.get('password').valid">sentiment_very_satisfied</mat-icon>
      <mat-icon matSuffix *ngIf="AddEmployeeForm.get('password').invalid">sentiment_very_dissatisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
  <mat-dialog-actions align="end">
    <button  type="button" mat-button (click)="CancelDialog()">Cancel</button>
    <button type="submit" mat-raised-button color="primary"
    [disabled]="AddEmployeeForm.invalid"
    >
      {{editMode ? 'Update' : 'Add'}}
    </button>
  </mat-dialog-actions>
</form>
