<h1>{{editMode ? 'Update Location' : 'Add Location'}}</h1>
<form (ngSubmit)="onSubmit()" [formGroup]="AddLocationForm">
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Location Name</mat-label>
      <input matInput placeholder="Location Name" formControlName="locationName">
      <mat-icon matSuffix *ngIf="AddLocationForm.get('locationName').valid">sentiment_very_satisfied</mat-icon>
      <mat-icon matSuffix *ngIf="AddLocationForm.get('locationName').invalid">sentiment_very_dissatisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Location City</mat-label>
      <input matInput placeholder="Location City" formControlName="locationCity">
      <mat-icon matSuffix *ngIf="AddLocationForm.get('locationCity').valid">sentiment_very_satisfied</mat-icon>
      <mat-icon matSuffix *ngIf="AddLocationForm.get('locationCity').invalid">sentiment_very_dissatisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
  <mat-dialog-actions align="end">
    <button type="button" mat-button (click)="CancelDialog()">Cancel</button>
    <button type="submit" mat-raised-button color="primary"
            [disabled]="AddLocationForm.invalid">
      {{editMode ? 'Update' : 'Add'}}
    </button>
  </mat-dialog-actions>
</form>


