<mat-toolbar color="primary" style="height: 10vh;">
  <button routerLink="" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <p>App</p>
  </button>
  <span routerLink="">Home</span>
  <div style="margin-left: 10%">
    <button mat-button class="marginLeft" routerLink="">Home</button>
    <button mat-button class="marginLeft" routerLink="employe" >Employe</button>
    <button mat-button class="marginLeft">Basic</button>
  </div>

  <span class="example-spacer"></span>
  <button mat-raised-button color="white" (click)="openDialog()">Warn</button>
</mat-toolbar>
