<h1>List Of Beneficiaries</h1>
<div style="margin-bottom: 1vh;margin-left: 61vw">
  <button mat-raised-button (click)="openDialog()">Add Beneficiary</button>
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource.data">

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> First Name </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}}</td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}}</td>
    </ng-container>

    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef> Phone Number </th>
      <td mat-cell *matCellDef="let element"> {{element.phoneNumber}}</td>
    </ng-container>

    <ng-container matColumnDef="nationality">
      <th mat-header-cell *matHeaderCellDef> Nationality </th>
      <td mat-cell *matCellDef="let element"> {{element.nationality}}</td>
    </ng-container>

    <ng-container matColumnDef="vulnerability">
      <th mat-header-cell *matHeaderCellDef> Vulnerability </th>
      <td mat-cell *matCellDef="let element"> {{element.vulnerability}}</td>
    </ng-container>

    <ng-container matColumnDef="birthDate">
        <th mat-header-cell *matHeaderCellDef> birthDate </th>
        <td mat-cell *matCellDef="let element"> {{element.birthDate}}</td>
      </ng-container>


    <ng-container matColumnDef="Edit">
      <th mat-header-cell *matHeaderCellDef >Actions</th>
      <td mat-cell *matCellDef="let element"><i class="bi bi-pencil-square" style="cursor: pointer"
      (click)="OpenDialogToUpdate(element)"
      ></i></td>
    </ng-container>
    <ng-container matColumnDef="Delete">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element"><i class="bi bi-x-lg" style="cursor: pointer"
      (click)="removeBeneficiary(element.id)"
      ></i></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>


